<!DOCTYPE html>
<html>
<head>
    <title>LSTMSenti2.1.1.1Class_Weighted Details</title>
</head>
<body>
    <h1>LSTMSenti2.1.1.1Class_Weighted Details</h1>
    <pre>{{ model_summary }}</pre>
    <p>Date Uploaded: 01/19/2024</p>
    <p>Author: Ethan Yan Xu</p>
    <p>GitHub: <a href="https://github.com/OoEthanoO/LSTMSentimentModel">link</a></p>
    <p>Version: 2.1.1.1Class_Weighted</p>
    <p>Training Data: Amazon Review Data 2018 (partial)</p>
    <p>Version Highlights:</p>
    <p><strong>2.1.1.1Class_Weighted</strong></p>
    <ul>
        <li>Uploaded: 01/19/2024</li>
        <li>Training Data: 3.9 MB</li>
        <li>Sends version details</li>
    </ul>
    <p><strong>2.1.1Class_Weighted</strong></p>
    <ul>
        <li>Uploaded: 01/19/2024</li>
        <li>Training Data: 3.9 MB</li>
        <li>Model is now an API</li>
        <li>Improved accuracy</li>
    </ul>
    <p><strong>2.1Class_Weighted</strong></p>
    <ul>
        <li>Uploaded: 01/12/2024</li>
        <li>Training Data: 3.9 MB</li>
        <li>Data is class weighted</li>
        <li>Trained using GPU</li>
        <li>Improved accuracy</li>
    </ul>
    <p><strong>2.1</strong></p>
    <ul>
        <li>Uploaded: Not open to public</li>
        <li>Training Data: 3.9 MB</li>
        <li>Massive data overhaul</li>
        <li>Improved accuracy</li>
    </ul>
    <p><strong>2.0.1</strong></p>
    <ul>
        <li>Uploaded: Not open to public</li>
        <li>Training Data: 1340 Lines</li>
        <li>Resolve feedbacks</li>
        <li>Improved accuracy</li>
    </ul>
    <p><strong>2.0</strong></p>
    <ul>
        <li>Uploaded: 12/28/2023</li>
        <li>Training Data: 1339 Lines</li>
        <li>Better neutral detection</li>
        <li>Better negation handling</li>
        <li>Improved accuracy</li>
    </ul>
    <p><strong>1.5</strong></p>
    <ul>
        <li>Uploaded: 12/26/2023</li>
        <li>Training Data: 600 Lines</li>
        <li>Data expansion</li>
        <li>Improved accuracy</li>
    </ul>
    <p><strong>1.0</strong></p>
    <ul>
        <li>Uploaded: 12/25/2023</li>
        <li>Training Data: 300 Lines</li>
        <li>Proof of concept</li>
        <li>Tensorflow</li>
    </ul>
</body>
</html>